services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-frankenphp
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "80:8000"
    environment:
      APP_ENV: local
      APP_DEBUG: 'true'
      APP_KEY: ${APP_KEY} 
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel_db
      DB_USERNAME: root
      DB_PASSWORD: secret
      CORS_ALLOWED_ORIGINS: "http://localhost:3000,http://localhost:5173"
      CACHE_STORE: file
    depends_on:
      - db
    networks:
      - laravel-network

  db:
    image: postgres:15-alpine
    container_name: laravel_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  dbdata: